{% extends "base.html" %} 
{% load static %} 
{% load youtube_embed %}


{% block title %} 
{{ post.title }}
{% endblock %} 

{% block css_files %} 
{% comment %} <link rel="stylesheet" href="{% static "blog/post-detail.css" %}" />  {% endcomment %}
<link rel="stylesheet" href="{% static "blog/course-detail.css" %}" /> 
{% endblock %} 

{% block content %}

<section id="summary">
  <h2>{{ course.title }}</h2>
  <article>
    <img src="{{ course.image.url }}" alt="{{ post.title }}" />
    <div id="description">{{course.description}}</div>
  </article>
</section>
<section id="video-section">
    <div class="video-container">
        <iframe width="560" height="315" 
                src="{{ course.video_url|youtube_embed }}" 
                frameborder="0" allowfullscreen>
        </iframe>
    </div>
</section>

{% endblock %}