{% extends "base.html" %}
{%load static%}
{% block title %}
    My Blog
{%endblock%}
{%block css_files%}
<link rel="stylesheet" href="{%static "blog/post.css"%}">
<link rel="stylesheet" href="{%static "blog/index.css" %}">
{%endblock%}
{%block content%}   
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/sasha.jpg' %}" alt="Sasha - The Author of this Blog">
            <h2>Lex Adrianov</h2>
        </header>
        <p>Hi, I'm Lex, a tech enthusiast with a passion for exploring the latest advancements in technology and sharing insights with the world. I love diving into programming, problem-solving, and new innovations that shape our digital future. Through this blog, I aim to break down complex topics, share personal experiences, and inspire others to stay curious and keep learning.</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in posts %}
                {%include "blog/include/post.html"%}
            {%endfor%}
        </ul>
    </section >
    <section id="about">
        <section id="experience-education">
  <div class="timeline-container">
    <!-- Experience Section -->
    <div class="experience">
      <h3>Experience</h3>
      <div class="timeline">
        <!-- 2025 -->
        <div class="timeline-item" data-year="2025">
          <h4>2025</h4>
          <div class="box">
            <h5>Programmer</h5>
            <p>Canadian Food Inspection Agency</p>
          </div>
          <div class="box">
            <h5>DevOps Engineer</h5>
            <p>Health Canada</p>
          </div>
        </div>
        <!-- 2023 -->
        <div class="timeline-item" data-year="2023">
          <h4>2023</h4>
          <div class="box">
            <h5>Software Engineer</h5>
            <p>Seowave</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Education Section -->
    <div class="education">
      <h3>Education</h3>
      <div class="timeline">
        <!-- 2024 -->
        <div class="timeline-item" data-year="2024">
          <h4>2022-2024</h4>
          <div class="box">
            <h5>Diploma in Web Development and Internet Applications</h5>
            <p>Algonquin College, Ottawa, ON, Canada</p>
          </div>
        </div>
        <!-- 2021 -->
        <div class="timeline-item" data-year="empty"></div>
        <div class="timeline-item" data-year="empty"></div>
        <div class="timeline-item" data-year="2021">
          <h4>2020</h4>
          <div class="box">
            <h5>Python Developer BootCamp</h5>
            <p>Yandex Practicum</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

        
    </section>
        
{%endblock%}