{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'loader.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{% static 'script.js' %}" defer></script>
    {% block css_files %} {% endblock %}
</head>
<body>
    <div class="loader"></div>

    <header id="main-navigation">
        <nav>
            <a href="{% url 'read-later' %}">Stored Posts</a>
            <a href="{% url 'posts-page' %}">All Posts</a>
        </nav>
        <h1><a href="{% url 'starting-page' %}">Lex</a></h1>
        <nav>
            <a href="https://github.com/sanyadrian" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/oleksandradrianov/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
