{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'loader.css' %}">
    <script src="{% static 'script.js' %}" defer></script> <!-- Correct path for script.js -->
    {% block css_files %} {% endblock %}
</head>
<body>
    <!-- Loader element -->
    <div class="loader"></div>

    <header id="main-navigation">
        <h1><a href="{% url 'starting-page' %}">My Blog</a></h1>
        <nav>
            <a href="{% url 'read-later' %}">Stored Posts</a>
            <a href="{% url 'posts-page' %}">All Posts</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
</body>
</html>
