<li>
    <article class="post">
        <a href="{%url "project-detail-page" project.slug %}">
            <img src="{{ project.image.url }}" alt="{{ all_courses.title }}" />
            <div class="post__content">
                <h3>{{ project.title }}</h3>
                <p>
                    {{ project.sub_title }}
                </p>
                {% comment %} <a href="{{project.link}}" target="_blank"><i class="fab fa-github"></i></a> {% endcomment %}
            </div>
        </a>
    </article>
</li>